
@media screen and (min-width: 1px){
    body {
        display: grid;
        height: 100vh;  
        margin: 0;
        background-color: blue;
        grid-template-columns:40vh 60vh;
        grid-template-rows:100px 40px 500px 40px;
        grid-template-areas: 
        'hd na na'
        'as as as'
        'mn mn mn'
        'ft ft ft'
    }

    header{
        display: flex;
        grid-area: hd;
        background-color: white;
        border: 1px solid lightskyblue;
    }

    nav {
        display: flex;
        grid-area: na;
        background-color: white;
        border: 1px solid lightskyblue;
    }
    
    aside {
        display: flex;
        grid-area: as;
        border: 1px solid lightskyblue;
    }

    main {
        display: flex;
        grid-area: mn;
    }

    footer {
        display: flex;
        grid-area: ft;
    }
}

@media screen and (min-width: 600px){
    body {
        display: grid;
        height: 100vh;  
        margin: 0;
        background-color: blue;
        grid-template-columns:40vh 60vh;
        grid-template-rows:100px 40px 480px 45px;
        grid-template-areas: 
        'hd na na'
        'as as as'
        'mn mn mn'
        'ft ft ft'
    }

    header{
        display: flex;
        grid-area: hd;
        background-color: white;
        border: 1px solid lightskyblue;
        align-items: center;
        justify-content: center;
    }

    nav {
        display: flex;
        grid-area: na;
        background-color: white;
        border: 1px solid lightskyblue;
    }
    
    aside {
        display: flex;
        grid-area: as;
        border: 1px solid lightskyblue;
        background-color: white;
    }

    main {
        display: flex;
        grid-area: mn;
        background-color: white;
        border: 1px solid lightskyblue;
    }

    footer {
        display: flex;
        grid-area: ft;
        background-color: white;
        border: 1px solid lightskyblue;
    }
}